@using Microsoft.AspNetCore.Identity
@using Schueler_CheckIn2024_25
@using Schueler_CheckIn2024_25.Data
@namespace Schueler_CheckIn2024_25.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<a href="c:\users\mario\onedrive - htl saalfelden\schule\syp\schueler_checkin2024_25\schueler_checkin2024_25\pages\_viewimports.cshtml">c:\users\mario\onedrive - htl saalfelden\schule\syp\schueler_checkin2024_25\schueler_checkin2024_25\pages\_viewimports.cshtml</a>