@page
@model PrivacyModel
@{
    ViewData["Title"] = "Infos";
}
<h1>@ViewData["Title"]</h1>

<p>Sind sie noch nicht Regestriert?</p>

    <li>Na dan schnell um einen einzigartigen QR-Code zu bekommen</li>
    <li>Nach dem Regestrieren können sich sich Anmelden um Ihren QR-Code im Home Verzeichnis zu sehen</li>
    <li>Nun halte den QR-Code in dem Scanner und zack bist du Anwesend</li>

    
    <p></p>
<p>Sind Sie schon Registriert, dann melden Sie sich einfach an um Ihren QR-Code scannen zu lassen :)</p>


<h1>Viel Spaß mit der Verwendung unserer App</h1>


